input::-webkit-input-placeholder { /* WebKit browsers */
    color: red;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: red;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: red;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: red;
}
input:focus::-webkit-input-placeholder {
    color:transparent;
}
input:focus:-moz-placeholder {
    color:transparent;
}
input:focus::-moz-placeholder {
    color:transparent;
}
input:focus:-ms-input-placeholder {
    color:transparent;
}